body{
    background-color: blueviolet;
    text-align: center;
}
.test{
    width: 300px;
    height: 300px;
    background-color: rgb(16, 35, 119);
    font-size: 20px;
    color: aqua;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}
.side{
    width: 50px;
    height: 100vh;
    background: linear-gradient(rgb(207, 111, 207),rgb(42, 12, 150));
    position: absolute;
    top: 0;
    right: 0;
}